/* Direct children */

p {
    font-family: Garamond;
}

body > p {
    font-weight: bold;
}

div > p {
    color: #7AC5CD;
}

li > p {
    color: #000000;
    text-decoration: underline;
}


/*

As we mentioned, certain selectors will "override" others if they have a greater specificity value.
ul li p { is more specific CSS than just p {, so when CSS sees tags that are both <p> tags and happen
to be inside unordered lists, it will apply the more specific styling (ul li p {) to the text inside the lists.

*/


/* PSEUDO SELECTORS

A pseudo-class selector is a way of accessing HTML items that aren't part of the document tree
(remember the tree structure we talked about earlier?). For instance, it's very easy to see where
a link is in the tree. But where would you find information about whether a link had been clicked
on or not? It isn't there!

Pseudo-class selectors let us style these kinds of changes in our HTML document.
For example, we saw we could change a link's text-decoration property to make it something
other than blue and underlined. Using pseudo selectors, you can control the appearance of
unvisited and visited links—even links the user is hovering over but hasn't clicked!

---------------------------

Another useful pseudo-class selector is first-child.
It's used to apply styling to only the elements that are the first children of their parents. For instance:

p:first-child {
    color: red;
}
Would make all paragraphs that are the first children of their parent elements red.

------------------
*/